<div class="container">
    
    <!--<div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
            style="width:70%;">
            <span class="sr-only">70% Complete</span>
        </div>
    </div>-->

    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12"></div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="passwordScreen">
                <div class="medium-title">{{languageContent[27]}}</div>
                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

                    <div class="form-group">
                        <label>{{languageContent[23]}}</label>
                        <div class="passView">
                            <input type="{{oldPassword}}" formControlName="currentPassword" id="currentPassword"
                                class="form-control" placeholder="Old password" required />
                            <img src="{{viewPassword1}}" (click)="viewOldpassword()" referrerpolicy="origin" alt="" />
                        </div>
                        <i></i>
                        <div *ngFor="let validation of validation_messages['currentPassword']">
                            <span class="errorMessage"
                                *ngIf="form.get('currentPassword').hasError(validation.type) && (form.get('currentPassword').dirty || form.get('currentPassword').touched)">{{validation.message}}</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>{{languageContent[24]}}</label>
                        <div class="passView">
                            <input type="{{fieldType}}" formControlName="newPassword" id="newPassword"
                                class="form-control" placeholder="{{languageContent[24]}}" required />
                            <img src="{{viewPassword}}" (click)="showPassword()" referrerpolicy="origin" alt="" />
                        </div>
                        <i></i>
                        <div *ngFor="let validation of validation_messages['newPassword']">
                            <span class="errorMessage"
                                *ngIf="form.get('newPassword').hasError(validation.type) && (form.get('newPassword').dirty || form.get('newPassword').touched)">{{validation.message}}</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label>{{languageContent[25]}}</label>
                        <div class="passView">
                            <input type="{{fieldType}}" formControlName="confirmPassword" id="confirmPassword"
                                class="form-control" placeholder="{{languageContent[25]}}" required />
                        </div>
                        <i></i>
                        <div *ngFor="let validation of validation_messages['confirmPassword']">
                            <span class="errorMessage"
                                *ngIf="form.get('confirmPassword').hasError(validation.type) && (form.get('confirmPassword').dirty || form.get('confirmPassword').touched)">{{validation.message}}</span>
                        </div>
                        <span class="errorMessage"
                            *ngIf="form.get('newPassword').value != form.get('confirmPassword').value && form.get('confirmPassword').value.length > 0">{{languageContent[20]}}</span>
                    </div>
                    <button [ngClass]="checkValidity() === false ? 'enabled': 'disabled'" class="submit" type="submit"
                        [disabled]="checkValidity() === false ? false : true">{{languageContent[26]}}</button>

                </form>

            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Modal start -->
            <div class="popupSection" *ngIf="passwdSuccess">
                <div class="popup-box">
                    <div class="popupBody">
                        <a (click)="close()" class="close" referrerpolicy="origin">
                            <span class="cross">
                                <img src="assets/img/close.png" content="origin" alt="" />
                            </span>
                        </a>
                        <div class="Ok">
                            <img src="assets/img/ok.png" content="origin" alt="" />
                        </div>
                        <div class="small-title">
                            {{languageContent[22]}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal end -->
        </div>
    </div>
</div>