<div class="disclaimer_container">
<article class="forgot-password study-information  terms-conditions  disclaimer defaul-page"><!-- Article section start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="medium-title">{{ disclaimerContent.name }}</h1>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="disclaimer-media">    
				<app-paragraph [fields]="disclaimerContent.fields" ></app-paragraph>
				</div>
			</div>
		</div>
	</div>
</article><!-- Article section end -->
</div>