.not_connected {
    background: #ffffff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.modal-dialog {
    top: 25% !important;
}
.fade.in {
    opacity: 1 !important;
    background: rgba(1,1,1,0.8) !important;
}
.modal-body {
    position: relative;
    padding: 20px 50px 40px 50px;
}
.material-icons {
    font-size: 80px;
}
