<div class="newpassword_container">
  <article class="forgot-password new-password">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12"></div>
        <div class="col-md-6 col-sm-12 col-xs-12 no-padding">
          <div class="content_section">
            <h1 class="medium-title">{{changePasswordContent[1]}}</h1>
            <p>{{changePasswordContent[2]}}
              <br />{{changePasswordContent[3]}}</p>

            <div class="form-group password_section">
              <label for="exampleInputPassword1">{{changePasswordContent[4]}}</label>
              <div class="passView">
              <input type="{{fieldType}}" #newPassword [ngClass]="{'password-focus':newPassword.value.length,'empty-password':emptyPassword}"
                class="form-control" id="password" placeholder="{{changePasswordContent[4]}}" (input)="checkStrength(newPassword.value)">
              <img type="button" src="{{passInputFieldImageLocation}}" (click)="showHidePassword()" content="origin" alt="" />
            </div>
              <p style="color:red" *ngIf="regexError">{{changePasswordContent[18]}}</p>
              <div class="password_streanth">
                <div class="streanth_column">
                  <div id="streangthLevel" [class]="streangthLevel">
                    <div class="strenght_level_area">
                      <span class="label_area">{{changePasswordContent[5]}}:
                        <span class="strength">{{streangthLevel}}</span>
                      </span>
                      <span class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">{{changePasswordContent[6]}}</label>
              <input type="password" [ngClass]="{'password-focus':confirmPassword.value.length,'empty-password': emptyConfirmPassword}"
                [class.mismatch]="passwordNotMatch" #confirmPassword class="form-control" id="confirm-password" placeholder="{{changePasswordContent[6]}}"
                (input)="emptyConfirmPassword = !confirmPassword.value.length">
              <p *ngIf="passwordNotMatch" style="color:red">{{changePasswordContent[7]}}</p>
              <p style="color:red" *ngIf="emptyPassword || emptyConfirmPassword">{{changePasswordContent[12]}}</p>
              <p style="color:red" *ngIf="error">{{changePasswordContent[13]}}</p>
            </div>

            <div class="form-group">
              <a (click)="setPassword()" [ngClass]="{'disable-set-password': (!newPassword.value.length || !confirmPassword.value.length),'enable-set-password': (!!newPassword.value.length && !!confirmPassword.value.length)}"
                class="btn verify succes-password" id="set-password" aria-disabled="{regexError === true}" referrerpolicy="origin">{{changePasswordContent[8]}}</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!-- Modal start -->
          <div class="popup-section" *ngIf="chngPasswdSuccess">
            <div class="popup-box">
              <div class="small-title">
                {{changePasswordContent[9]}}
                <br />{{changePasswordContent[10]}}
              </div>
              <p>
                {{changePasswordContent[11]}}
              </p>
            </div>
          </div>
          <!-- Modal end -->
        </div>
      </div>

    </div>
  </article>
</div>
