::ng-deep .newpassword_container {
  min-height: 91vh;
  display: grid;
  overflow: hidden;
}

.forgot-password {
  background: #fbfcfd;
  padding: 40px 0;
}

.forgot-password .medium-title {
  margin: 0 0 15px 0;
  font-size: 30px;
  color: #232732;
}

.forgot-password p {
  font-size: 16px;
  color: #888b8d;
  font-weight: 500;
}

.forgot-password .small-title {
  margin: 22px 0px 15px;
  font-size: 18px;
  color: #222731;
}

.forgot-password .filde-title {
  color: #a4a7ab;
  margin-top: 40px;
}

.forgot-password .box {
  border: 2px solid #c5c9cc;
  background: #fff;
  padding: 15px 25px;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  position: relative;
}

.forgot-password .box:hover {
  border: 2px solid #009cde;
}

.forgot-password .box .icon {
  float: none;
  margin: 25px 0;
  padding: 0;
  text-align: center;
}

.forgot-password .box .text {
  float: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.forgot-password .box .text span {
  color: #232732;
  font-weight: 700;
}

.forgot-password .box .active-icon {
  float: none;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
}

.forgot-password .box .active-icon .loading {
  display: none;
}

.forgot-password .box .active-icon .loading img {
  width: 28px;
  height: 29px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.forgot-password .box .active-icon .selected {
  display: none;
}

.message {
  padding: 20px 0 0px;
  display: none;
}

.message p {
  color: #0fc445;
}

.forgot-password .column {
  margin: 0;
  padding: 0;
}

.forgot-password .form-control {
  height: 45px;
  border-radius: 3px;
}

.forgot-password .column .verify {
  float: left;
  margin: 0 25px 0 0;
  padding: 9px 40px;
  background: #009cde;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  font-family:"Montserrat";
  font-weight: 500;
  transition: all 0.4s ease-in-out;
}

.forgot-password .column .verify:hover {
  background: #0fc445;
}

.forgot-password .column .resend-code {
  margin: 12px 0 0 0;
  padding: 0;
  float: left;
  font-size: 16px;
  color: #222731;
  font-weight: 500;
}

.forgot-password .column .resend-code a {
  color: #009cde;
  text-decoration: underline;
}

/** password streanth start **/

::ng-deep .new-password .no-padding {
  padding: 0;
  position: relative;
}

::ng-deep .new-password .password_section {
  position: relative;
}
::ng-deep .new-password .password_section .passView{position:relative;}

::ng-deep .new-password .password_streanth {
  background: #fff;
  border:2px solid #c5c9cc;
  padding: 12px 25px;
  position: absolute;
  right: -261px;
  z-index: 1;
  top: 22px;
  border-radius: 3px;
}

::ng-deep .new-password .password_streanth .streanth_column {
  margin: 0;
  padding: 0;
  position: relative;
}

::ng-deep .new-password .password_streanth .streanth_column::after{content:"";display:block;left:-35px;top:0;bottom:0;margin:auto;background:#fff url('../../../assets/img/border_arrow.png') no-repeat center left;height:18px;width:11px;z-index:1;position:absolute;}

::ng-deep .new-password .password_streanth #streangthLevel {
  padding: 0 !important;
  color: #888b8d !important;
  margin: 0 !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area {
  margin: 0;
  padding: 0;
}

::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area .progress {
  display: block;
}

::ng-deep .new-password .password_streanth #streangthLevel .strength {
  font-weight: 600;
  color: #253446 !important;
  margin-left: 5px;
  float:right;
}

::ng-deep .new-password .password_streanth .progress {
  margin: 5px 0 0 0;
  padding: 0;
  height: 4px;
  background: #f7f7f7;
}

::ng-deep .new-password .password_streanth .progress .progress-bar-success {
  background: rgba(0, 0, 0, 0.0);
  width: 0%;
}

::ng-deep .new-password .password_streanth .undefined .progress .progress-bar-success {
  background: rgba(0, 0, 0, 0.0);
  width: 0%;
}

::ng-deep .new-password .password_streanth .Poor .progress .progress-bar-success {
  background: #fb3c44;
  width: 28%;
}

::ng-deep .new-password .password_streanth .Fair .progress .progress-bar-success {
  background: #ff9041;
  width: 42%;
}

::ng-deep .new-password .password_streanth .Good .progress .progress-bar-success {
  background: #019cdf;
  width: 55%;
}

::ng-deep .new-password .password_streanth .Strong .progress .progress-bar-success {
  background: #1cce20;
  width: 100%;
}

::ng-deep .new-password .password_section img {
  right: 15px;
  top: 0;
  bottom: 0;
  position: absolute;
  margin: auto;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;
}

/** password streanth end **/

::ng-deep .new-password .content_section {
  width: 450px;
  margin: 0 auto;
}

.new-password .medium-title {
  font-size: 32px;
  text-align: center;
}

.new-password p {
  margin-bottom: 26px;
  font-size: 15px;
  color: #253446;
  line-height: 22px;
  font-weight: 500;
}

.new-password label {
  color: #888b8d;
  font-size: 14px;
  font-family:"Montserrat";
  font-weight: 500;
}

.new-password input {
  color: #232732;
  font-size: 13px;
  font-family:"Montserrat";
  font-weight: 500;
  background: #fff;
  border: 1px solid #d4dbe3;
  padding: 5px 8px;
  height: 45px;
  box-shadow: none;
}

.new-password .verify {
  background: #02a9f0;
  color: #fff;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0 0 0;
  border: none;
  height: 45px;
  line-height: 34px;
  transition: all 0.4s ease-in-out;
}

.new-password .verify:hover {
  background: #0fc445;
}

.popup-section {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  position: fixed;
  /*display:none;*/
}

.popup-section .popup-box {
  background: #fff;
  width: 440px;
  text-align: center;
  padding: 2px 15px;
  height: fit-content;
  border-radius: 4px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.1);
  -moz-transform: translate(0%, 100%);
  display: table;
}

.popup-section .popup-box p {
  font-size: 14px;
  color: #888b8d;
  font-weight: 500;
}

.popup-section .popup-box .small-title {
  position: relative;
  padding-top: 15px;
  font-size: 20px;
  line-height: 32px;
}

.popup-section .popup-box .small-title .close {
  width: 30px;
  height: 30px;
  background: red;
  opacity: 1;
  text-shadow: none;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  top: -18px;
  position: absolute;
  right: -30px;
  cursor: pointer;
}

.mismatch {
  border-color: red;
  border-width: 2px;
}

.strength {
  font-weight: bold;
}

.disable-set-password {opacity: 0.5; cursor: not-allowed; pointer-events: none;}
.enable-set-password {opacity: 1; cursor: pointer; pointer-events: all;}
.password-focus {border: 1px solid #069bdc !important;}
.confirm-password-focus {border: 1px solid #d4dbe3 !important;}
.empty-password {border: 1px solid red !important;}
.password-un-focus {border: none;}


@media (min-width: 768px) and (max-width: 991px) {
  ::ng-deep .new-password .content_section {width: 100%;}
  ::ng-deep .new-password .password_section img {top: 5px;}
  .new-password .no-padding {padding: 0 15px;}
  .new-password label {font-size: 13px;}
  ::ng-deep .new-password .password_streanth {position: relative; right: 0; top: 7px; padding: 0; border: none; background: rgba(0, 0, 0, 0.0);}
  ::ng-deep .new-password .password_streanth .streanth_column::after {background-image: none; background-color: rgba(0, 0, 0, 0.0);}
  ::ng-deep .new-password .password_streanth #streangthLevel {font-size: 13px !important;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area {margin: 0; padding: 0; overflow: hidden;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area .label_area {margin: 0; padding: 0; width: 63%;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area .progress {margin: 8px 0 0 10px; padding: 0; width: 32%; display: inline-block;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area span {display: inline-block;}
  .popup-section .popup-box {width: 80%;}
  .popup-section .popup-box .small-title {font-size: 14px; line-height: 24px;}
  .popup-section .popup-box p {font-size: 13px;}
  .new-password .verify{font-size:14px; height:38px; line-height:29px;}
}

@media (min-width: 480px) and (max-width: 767px) {
  ::ng-deep .new-password .content_section {width: 100%;}
  ::ng-deep .new-password .password_section img {top: 5px;}
  .defaul-page iframe {width: 100%;}
  .decline-page .shadow-box {width: 100%; padding: 12px;}
  .forgot-password .medium-title {font-size: 18px;}
  .header-section .print_section .save_print {text-align: left; margin-top: 0px;}
  .header-section .print_section .save_print li {display: block; margin: 0 0 10px; padding: 0; border-right: none;}
  .decline-page .transparent .medium-title {margin: 8px 0 0 0; font-size: 20px; line-height: 30px;}
  .decline-page .shadow-box .order {margin: 18px 0 18px 16px;}
  .decline-page .shadow-box select {width: 100%; font-size: 13px;}
  .decline-page .shadow-box .btn {width: 100%; margin: 18px auto 5px;}
  .decline-page .shadow-box .btn a {font-size: 13px;}
  .active-dros .medium-title {font-size: 18px;}
  .new-password .no-padding {padding: 0 15px;}
  .new-password label {font-size: 13px;}
  ::ng-deep .new-password .password_streanth {position: relative; right: 0; top: 7px; padding: 0; border: none; background: rgba(0, 0, 0, 0.0);}
  ::ng-deep .new-password .password_streanth .streanth_column::after {background-image: none; background-color: rgba(0, 0, 0, 0.0);}
  ::ng-deep .new-password .password_streanth #streangthLevel {font-size: 13px !important;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area {margin: 0; padding: 0; overflow: hidden;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area .label_area {margin: 0; padding: 0; width: 63%;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area .progress {margin: 8px 0 0 10px; padding: 0; width: 32%; display: inline-block;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area span {display: inline-block;}
  .popup-section .popup-box {width: 80%;}
  .popup-section .popup-box p {font-size: 13px;}
  .new-password .verify{font-size:14px; height:38px; line-height:29px;}
}

@media (min-width: 300px) and (max-width: 479px) {
  ::ng-deep .new-password .content_section {width: 100%;}
  ::ng-deep .newpassword_container {min-height: 100%; overflow: inherit; display: block;}
  ::ng-deep .new-password .password_section img {top: 5px;}
  .defaul-page iframe {width: 100%; height: auto;}
  .decline-page .shadow-box {width: 100%; padding: 12px;}
  .new-password .medium-title {text-align: left; font-size: 26px;}
  .disclaimer img {height: auto;}
  .legal_statment .heading_section .ls-email {text-align: left; margin: 0px 0 18px 0; padding: 0;}
  .legal_statment .sub-header h2 {font-size: 18px;}
  .header-section .print_section .save_print {text-align: left; margin-top: 0px;}
  .header-section .print_section .save_print li {display: block; margin: 0 0 10px; padding: 0; border-right: none;}
  .decline-page .transparent .medium-title {margin: 8px 0 0 0; font-size: 20px; line-height: 30px;}
  .decline-page .shadow-box .order {margin: 18px 0 18px 16px;}
  .decline-page .shadow-box select {width: 100%; font-size: 13px;}
  .decline-page .shadow-box .btn {width: 100%; margin: 18px auto 5px;}
  .decline-page .shadow-box .btn a {font-size: 13px;}
  .active-dros .medium-title {font-size: 18px;}
  .new-password .no-padding {padding: 0 15px;}
  .new-password label {font-size: 13px;}
  ::ng-deep .new-password .password_streanth {position: relative; right: 0; top: 7px; padding: 0; border: none; background: rgba(0, 0, 0, 0.0);}
  ::ng-deep .new-password .password_streanth .streanth_column::after {background-image: none; background-color: rgba(0, 0, 0, 0.0);}
  ::ng-deep .new-password .password_streanth #streangthLevel {font-size: 13px !important;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area {margin: 0; padding: 0; overflow: hidden;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area .label_area {margin: 0; padding: 0; width: 63%;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area .progress {margin: 8px 0 0 10px; padding: 0; width: 32%; display: inline-block;}
  ::ng-deep .new-password .password_streanth #streangthLevel .strenght_level_area span {display: inline-block;}
  .popup-section .popup-box {width: 80%;}
  .popup-section .popup-box p {font-size: 13px;}
  .new-password .verify{font-size:14px; height:38px; line-height:29px;}
}
