<div class="forgotpassword_container">
  <article class="forgot-password">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="medium-title">{{forgotPasswordContent[1]}}</h1>
          <p>{{forgotPasswordContent[2]}}</p>
        </div>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="small-title">
            <!-- 1. How you would like to receive a verification code-->
            {{forgotPasswordContent[15]}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="box msg">
            <div class="icon">
              <img src="assets/img/msg.png" content="origin" alt="" />
            </div>
            <div class="text">
              <p>{{forgotPasswordContent[3]}}
                <span>{{forgotPasswordContent[11]}}</span> {{forgotPasswordContent[5]}}
                <br/>{{forgotPasswordContent[12]}}</p>
            </div>
            <div class="active-icon">
              <span class="loading"></span>
              <span class="selected msg-icon">
                <img src="assets/img/selected.png" content="origin" alt="" />
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="box ph">
            <div class="icon">
              <img src="assets/img/ph.png" content="origin" alt="" />
            </div>
            <div class="text">
              <p>{{forgotPasswordContent[13]}}
                <span>{{forgotPasswordContent[14]}}</span> {{forgotPasswordContent[5]}}
                <br/>{{forgotPasswordContent[12]}}</p>
            </div>
            <div class="active-icon">
              <span class="selected ph-icon">
                <img src="assets/img/selected.png" content="origin" alt="" />
              </span>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12" *ngFor="let field of forgotPasswordFields?.fields">
          <div *ngIf="field.fieldType=='SEND_EMAIL'" (click)="sendVerificationMail()" class="box email emailbox">
            <div class="icon">
              <img src="assets/img/mail.png" content="origin" alt="" />
            </div>
            <div class="text">
              <p>{{forgotPasswordContent[3]}}
                <span>{{forgotPasswordContent[4]}}</span> {{forgotPasswordContent[5]}}
                <br />{{shrtEmailId}}</p>
            </div>
            <div class="active-icon">
              <span class="loading" *ngIf="startSending">
                <img src="assets/img/loading.png" content="origin" alt="" />
              </span>
              <span class="selected email-icon" *ngIf="mailSent">
                <img src="assets/img/selected.png" content="origin" alt=""/>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" *ngIf="errorMessage">
        <p style="color:red; font-size:15px">{{errorMessage}}</p>
      </div>
     
      <div class="row" *ngIf="mailSent">
        <div class="col-md-12">
          <div class="message">
            <p>* {{forgotPasswordContent[6]}}</p>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="mailSent">
        <div class="col-md-12">
          <div class="small-title filde-title">
            <!--2. Enter verification code-->
            2. {{forgotPasswordContent[10]}}
          </div>
        </div>
      </div>

      <div class="row" *ngIf="mailSent">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="form-group">
            <input type="number" #verificationCode class="form-control" id="exampleInputEmail1" placeholder="{{forgotPasswordContent[10]}}"
              (keyup)="keyup($event.target.value)">
          </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="column">
            <a (click)="verifyCode()" class="btn verify" *ngIf="isVerificationCodeValid" referrerpolicy="origin">
              <!--Verify-->
              {{forgotPasswordContent[16]}}
            </a>
            <div class="resend-code">
              <a *ngIf="showResend" (click)="sendVerificationMail(true)" referrerpolicy="origin">{{forgotPasswordContent[7]}}</a>
              <app-countdown-timer [seconds]="60" (notify)="timesup($event)"></app-countdown-timer>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="verificationCodeError">
          <p style="color:red; font-size:15px">{{forgotPasswordContent[18]}}</p>
        </div>
      </div>
    </div>
  </article>
</div>
