<div class="t_boty_container">
	<article class="forgot-password study-information terms-conditions disclaimer active-dros"><!-- Article section start -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<img src="assets/img/not-allowed.png" content="origin" alt="" />
					<h1 class="medium-title">Participation Declined!</h1>
					<div class="read-more-sec">
						<p>You have successfully declined to participate to {{noOfDecline}} DROs.</p>
						<a (click)="backToSchedule()" referrerpolicy="origin">Back to {{pageName}}</a>
					</div>
				</div>
			</div>
		</div>
	</article><!-- Article section end -->
</div>